@model MediaNews.Entities.Common.Category

@{
    ViewBag.Title = "Изтрий";
}

<h2>Изтрий</h2>

<h3>Сигурен ли сте, че искате да премахнете категорията от системата?</h3>
<div>
    <h4>Категория</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("<-- Назад", "Index")
        </div>
    }
</div>
