@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MediNews</h1>
    <p class="lead">Бъди информиран от нас! Ние пишем за вас</p>
    @Html.ActionLink("Разгледай", "Index", "Posts", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</div>

