<footer>
    <p>&copy; @DateTime.Now.Year - MediaNews</p>
</footer>

<script type="text/javascript">
    $(function () {
        $('#color').colorpicker({
            customClass: 'colorpicker-2x',
            sliders: {
                saturation: {
                    maxLeft: 200,
                    maxTop: 200
                },
                hue: {
                    maxTop: 200
                },
                alpha: {
                    maxTop: 200
                }
            }
        });
    });
</script>
