<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--Production-->
  <connectionStrings>
    <add name="MediaNewsConnection"
         connectionString="Server=3073d4b0-b51d-44e1-9f29-a7870108a654.sqlserver.sequelizer.com;
         Initial Catalog=db3073d4b0b51d44e19f29a7870108a654;
         Persist Security Info = True;
         User ID=vhybvvtbgbfociyg;
         Password=fru7Gs2NPdWCNGkAoWbBaZm54MKPe2yuoLH2hFEEyswVcpvQ2UuprCooeyc4QmJV;
         MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>